{% extends 'login/base.html' %}
{% block content %}

    <div class="main">

        <div class="container">
            <form method="POST" class="registration-form" id="registration-form">
                {% csrf_token %}
                <h2>Registration Form</h2>
                <div class="form-group-1">
                    <input type="text" name="Consultant Number" id="consultantNumber" placeholder="Consultant Number" required />
                    <input type="text" name="firstName" id="name" placeholder="Your First Name" required />
                    <input type="text" name="lastName" id="name" placeholder="Your Last Name" required />
                    <input type="email" name="email" id="email" placeholder="Email" required />
                    <input type="number" name="phone_number" id="phone_number" placeholder="Phone number" required />
                    <input type="password" id="password1" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" placeholder="Password" required/>
                    <input type="password" name="password" id="password2" placeholder="Confirm Password" required/>
                    <div id="message">
                        <h3>Password must contain the following:</h3>
                        <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                        <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                        <p id="number" class="invalid">A <b>number</b></p>
                        <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                    </div>
                </div>
                <div class=" form-check">
                    <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" required/>
                    <label for="agree-term" class="label-agree-term" ><span><span></span></span>I agree to the  <a href="/terms" class="term-service">Terms and Conditions</a></label>
                </div>
                <div class="form-submit">
                    <input type="submit" name="submit" id="submit" class="submit" value="Create an Account" />
                </div>
            </form>
        </div>

    </div>
    <!-- This templates was made by Colorlib (https://colorlib.com) -->
{% endblock content %}

