{% extends 'login/base.html' %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <img class="logo" src="https://www.logolynx.com/images/logolynx/98/98508507ef0d11aa8b9c58c106149309.jpeg" alt="MK Logo">
            </div>
            <div class="col-sm-4"></div>
            <div class="w-100 mt-5"></div>
            <div class="col-sm-3"></div>
            <div class="container">
                <form action="/login" class="row text-center" method="post">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6 form-group">
                        <label for="">Consultant Number:</label>
                        <input autofocus class="form-control" type="text" name="consultantNumber" placeholder="Your Consultant Number">
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="w-100 mt-1"></div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6 form-group">
                        <label for="">Password: </label>
                        <input class="form-control" type="password" name="password" placeholder="Your password">
                        <p><a href="/forgotpassword">I Forgot My Password</a></p>
                        <input type="submit" value="Login" class="btn secondary white mt-2">
                        <p class="mt-2"><a href="/registeraccount">Register For An Account</a></p>

                    </div>
                    <div class="col-sm-3"></div>

                </form>
            </div>
        </div>
    </div>
{% endblock content %}