{% extends 'inventory/inventoryBase.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Product Inventory</h1>

                {% csrf_token %}
                <td><input type="text" id="quantity" placeholder="product quantity"></td>
                <td><input type="text" id="name" placeholder="product name"></td>
                <td><input type="text" id="price" placeholder="product price"></td>
                <td><input type="text" id="description" placeholder="product description"></td>
                <th>
                    <button class="button" id="postProduct">Add New Product Inventory</button>
                </th>
                <th>
                    <button class="button" id="changeInventory" data-toggle="modal"
                            data-target="#changeInventoryModal">Change Inventory Form
                    </button>
                </th>
                <div class="w-100 mb-4"></div>

                </tr>
                <table class=" display w-100">
                    <thead>
                    <tr>
                        <th scope="col">Quantity</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Retail Price per Item</th>
                        <th scope="col">Optional Description</th>
                    </tr>
                    </thead>
                    <tbody class="mainInventoryTable">
                    <tr>
                        {% for product in products %}
                            <tr objectId="{{ product.id }}">
                                <td id="quantityadd">{{ product.quantity }}</td>
                                <td id="product_nameadd">{{ product.product_name }}</td>
                                <td id="priceadd">{{ product.price }}</td>
                                <td id="product_descriptionadd">{{ product.product_description }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="changeInventoryModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="mr-3">Type of Change</h5>
                    <select name="typeOfTrans" id="typeSelector">
                        <option selected value="sellStock">Sell Stock</option>
                        <option value="addStock">Add Stock</option>
                        <option value="exchangeStock">Exchange Stock</option>
                        <option value="expireStock">Expire Stock</option>
                    </select>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalBody">
                    <div class="container">
                        <div class="row m-2">
                            <div class="col-lg-8">
                                <select name="productName" id="productName">
                                    {% for product in products %}
                                        <option value="{{ product.product_name }}">{{ product.product_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-4">

                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="col-lg-5">
                                <input id="priceSoldFor" name="priceSoldFor" placeholder="Price Sold For" type="text">
                            </div>
                            <div class="col-lg-5">
                                <input id="productQuantity" name="productQuantity" placeholder="Quantity Sold" type="text">
                            </div>
                            <div class="col-lg-2">
                                <button id="addToOrder" class="small button">Add to Order</button>
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="col-lg-6">
                                <select name="customerForTransaction" id="customerSelect">
                                    {% for customer in customers %}
                                        <option value="{{ customer.id }}">{{ customer.firstName }} {{ customer.lastName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="saveChanges" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}